# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyc
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*-env/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
*.bak

# Environments
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
.Pipfile.lock
*.pyc
*.cpython-*.pyc

deploy.yml
